<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{decorators/main}">

<head>
    <title>Đặt hàng thành công - OriShop</title>
</head>

<body>
    <div layout:fragment="content" class="container py-5 text-center">
        <div class="mb-4">
            <i class="fa fa-check-circle text-success" style="font-size: 80px;"></i>
        </div>
        <h1 class="display-4 fw-bold text-success">Đặt hàng thành công!</h1>
        <p class="lead">Cảm ơn bạn đã mua sắm tại OriShop. Đơn hàng của bạn đang được xử lý.</p>
        <p>Chúng tôi sẽ liên hệ với bạn qua số điện thoại để xác nhận đơn hàng sớm nhất.</p>

        <div class="mt-4">
            <a href="/" class="btn btn-primary btn-lg">Tiếp tục mua sắm</a>
        </div>
    </div>
</body>

</html>