<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{decorators/main}">

<head>
    <title>Thanh toán thất bại - OriShop</title>
</head>

<body>
    <div layout:fragment="content" class="container py-5 text-center">
        <div class="mb-4">
            <i class="fa fa-times-circle text-danger" style="font-size: 80px;"></i>
        </div>
        <h1 class="display-4 fw-bold text-danger">Thanh toán thất bại!</h1>
        <p class="lead">Giao dịch thanh toán của bạn không thành công hoặc đã bị hủy.</p>

        <div class="mt-4">
            <a href="/checkout" class="btn btn-warning btn-lg">Thử lại</a>
            <a href="/" class="btn btn-outline-secondary btn-lg ml-2">Về trang chủ</a>
        </div>
    </div>
</body>

</html>