<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head-css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${globalSettings.get('seo_title') != null ? globalSettings.get('seo_title') : 'OriShop'}">OriShop
    </title>
    <meta name="description" th:content="${globalSettings.get('seo_desc')}" />
    <meta name="keywords" th:content="${globalSettings.get('seo_keywords')}" />
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Dynamic Color Settings (Optional Override) -->
    <style th:inline="css">
        :root {
            /* If user sets a primary color in DB, we can use it, otherwise fallback to style.css defaults */
            /* --color-primary: [(${globalSettings.get('primary_color')})]; */
        }
    </style>
</head>

<body></body>

</html>