<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard - OriShop</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        body {
            font-size: .875rem;
        }

        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 100;
            padding: 48px 0 0;
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }

        .sidebar-sticky {
            position: relative;
            top: 0;
            height: calc(100vh - 48px);
            padding-top: .5rem;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .nav-link {
            font-weight: 500;
            color: #333;
        }

        .nav-link.active {
            color: #d63384;
        }
    </style>
    <!-- jQuery -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <!-- Moment.js -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <!-- Date Range Picker -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/admin">OriShop Admin</a>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <form th:action="@{/auth/logout}" method="post" class="d-inline">
                    <button class="nav-link px-3 bg-dark border-0" type="submit">Sign out</button>
                </form>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin}"
                                th:classappend="${requestURI == '/admin' ? 'active' : ''}">
                                <i class="fa fa-home"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/products}"
                                th:classappend="${requestURI.startsWith('/admin/products') ? 'active' : ''}">
                                <i class="fa fa-box"></i> Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/categories}"
                                th:classappend="${requestURI.startsWith('/admin/categories') ? 'active' : ''}">
                                <i class="fa fa-list"></i> Categories
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/orders}"
                                th:classappend="${requestURI.startsWith('/admin/orders') ? 'active' : ''}">
                                <i class="fa fa-shopping-cart"></i> Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/users}"
                                th:classappend="${requestURI.startsWith('/admin/users') ? 'active' : ''}">
                                <i class="fa fa-users"></i> Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/reviews}"
                                th:classappend="${requestURI.startsWith('/admin/reviews') ? 'active' : ''}">
                                <i class="fa fa-star"></i> Reviews
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/coupons}"
                                th:classappend="${requestURI.startsWith('/admin/coupons') ? 'active' : ''}">
                                <i class="fa fa-ticket"></i> Coupons
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/flash-sales}"
                                th:classappend="${requestURI.startsWith('/admin/flash-sales') ? 'active' : ''}">
                                <i class="fa fa-bolt"></i> Flash Sales
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/settings}"
                                th:classappend="${requestURI.startsWith('/admin/settings') ? 'active' : ''}">
                                <i class="fa fa-cog"></i> Cấu hình
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-4" layout:fragment="content">
                <!-- Content will be injected here -->
            </main>
        </div>
    </div>

    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
    <th:block layout:fragment="script"></th:block>
</body>

</html>