<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <th:block th:replace="~{fragments/head :: head-css}"></th:block>
</head>

<body class="d-flex flex-column min-vh-100">

    <!-- Header / Navbar -->
    <div th:replace="~{fragments/header :: navbar}"></div>

    <!-- Main Content -->
    <main class="flex-shrink-0 mb-4" layout:fragment="content">
        <!-- Nội dung trang con sẽ được chèn vào đây -->
    </main>

    <!-- Footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>

    <!-- Scripts -->
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>

    <th:block layout:fragment="script"></th:block>
</body>

</html>